body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
    padding: 50px;
    color: #242424;
    border-top: 10px solid #242424;
}

header {
    border-bottom: solid #242424;
    background-color: white;
    position: sticky;
    top: 0;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

p {
    line-height: 2em;
}

#blog {
    display: flex;
}

.title {
    border-bottom: dotted #585858;
}

.image {
    height: 500px;
    width: 800px;
}

.blog-post {
    border-bottom: dotted #b1afaf;
    padding: 20px;
    margin: 20px;
}

.table {
    border-top: solid #585858;
    border-bottom: solid #585858;
    padding: 15px;
}

#about-page {
    display: flex;
}

.about1 {
    flex: 1;
    padding: 20px;
    margin: 20px;
}

.about2 {
    flex: 2;
    padding: 20px;
    margin: 20px;
}

.about3 {
    flex: 1;
    padding: 20px;
    margin: 20px;
}