body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
    padding: 50px;
    color: #242424;
    border-top: 10px solid #242424;
}

header {
    border-bottom: dotted #242424;
}

h1 {
    font-size: 4em;
    margin: 0;
}

h2 {
    font-size: 2em;
}

p {
    line-height: 2em;
}

#blog {
    
}

.image {
    height: 500px;
    width: 800px;
}

.blog-post {
    border-bottom: dotted #b1afaf;
}

.table {
    border-top: solid #585858;
    border-bottom: solid #585858;
    
}
