body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 30px;
    padding: 50px;
    color: #242424;
    border-top: 10px solid #242424;
}


header {
    border-top: dotted #b1afaf;
}


h1 {
    font-size: 4em;
    margin: 0;
}


p {
    line-height: 2em;
}


#blog {
    
}


.blog-post {
    border-bottom: dotted #b1afaf;
}


.table {
    border-top: solid #585858;
    border-bottom: solid #585858;
    object-position: center;
}


a[img] {
    object-position: center;
}